In [379]:
# import libraries
import pandas as pd
!pip install mlxtend
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

Requirement already satisfied: mlxtend in c:\users\saifh\appdata\local\programs\python\python312\lib\site-packages (0.23.1)
Requirement already satisfied: scipy>=1.2.1 in c:\users\saifh\appdata\local\programs\python\python312\lib\site-packages (from mlxtend) (1.13.0)
Requirement already satisfied: numpy>=1.16.2 in c:\users\saifh\appdata\local\programs\python\python312\lib\site-packages (from mlxtend) (1.26.4)
Requirement already satisfied: pandas>=0.24.2 in c:\users\saifh\appdata\local\programs\python\python312\lib\site-packages (from mlxtend) (2.2.0)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\saifh\appdata\local\programs\python\python312\lib\site-packages (from mlxtend) (1.4.2)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\saifh\appdata\local\programs\python\python312\lib\site-packages (from mlxtend) (3.8.4)
Requirement already satisfied: joblib>=0.13.2 in c:\users\saifh\appdata\local\programs\python\python312\lib\site-packages (from mlxtend) (1.4.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\saifh\appdata\local\programs\python\python312\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.2.1)
Requirement already satisfied: cycler>=0.10 in c:\users\saifh\appdata\local\programs\python\python312\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\saifh\appdata\local\programs\python\python312\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\saifh\appdata\local\programs\python\python312\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.5)
Requirement already satisfied: packaging>=20.0 in c:\users\saifh\appdata\local\programs\python\python312\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (23.2)
Requirement already satisfied: pillow>=8 in c:\users\saifh\appdata\local\programs\python\python312\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (10.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\saifh\appdata\local\programs\python\python312\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\saifh\appdata\local\programs\python\python312\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\saifh\appdata\local\programs\python\python312\lib\site-packages (from pandas>=0.24.2->mlxtend) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\saifh\appdata\local\programs\python\python312\lib\site-packages (from pandas>=0.24.2->mlxtend) (2024.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\saifh\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn>=1.0.2->mlxtend) (3.4.0)
Requirement already satisfied: six>=1.5 in c:\users\saifh\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [380]:
# import csv file
df = pd.read_csv('Grocery Products Purchase.csv')
df.columns

Index(['Basket', 'Product 1', 'Product 2', 'Product 3', 'Product 4',
       'Product 5', 'Product 6', 'Product 7', 'Product 8', 'Product 9',
       'Product 10', 'Product 11', 'Product 12', 'Product 13', 'Product 14',
       'Product 15', 'Product 16', 'Product 17', 'Product 18', 'Product 19',
       'Product 20', 'Product 21', 'Product 22', 'Product 23', 'Product 24',
       'Product 25', 'Product 26', 'Product 27', 'Product 28', 'Product 29',
       'Product 30', 'Product 31', 'Product 32'],
      dtype='object')

In [381]:
df.shape

(9835, 33)

In [382]:
df.head(5)

,Basket,Product 1,Product 2,Product 3,Product 4,Product 5,Product 6,Product 7,Product 8,Product 9,...,Product 23,Product 24,Product 25,Product 26,Product 27,Product 28,Product 29,Product 30,Product 31,Product 32
0,1,citrus fruit,semi-finished bread,margarine,ready soups,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,tropical fruit,yogurt,coffee,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,whole milk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,pip fruit,yogurt,cream cheese,meat spreads,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,other vegetables,whole milk,condensed milk,long life bakery product,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [383]:
df.dtypes

Basket         int64
Product 1     object
Product 2     object
Product 3     object
Product 4     object
Product 5     object
Product 6     object
Product 7     object
Product 8     object
Product 9     object
Product 10    object
Product 11    object
Product 12    object
Product 13    object
Product 14    object
Product 15    object
Product 16    object
Product 17    object
Product 18    object
Product 19    object
Product 20    object
Product 21    object
Product 22    object
Product 23    object
Product 24    object
Product 25    object
Product 26    object
Product 27    object
Product 28    object
Product 29    object
Product 30    object
Product 31    object
Product 32    object
dtype: object

In [384]:
df.isnull().sum()

Basket           0
Product 1        0
Product 2     2159
Product 3     3802
Product 4     5101
Product 5     6106
Product 6     6961
Product 7     7606
Product 8     8151
Product 9     8589
Product 10    8939
Product 11    9185
Product 12    9367
Product 13    9484
Product 14    9562
Product 15    9639
Product 16    9694
Product 17    9740
Product 18    9769
Product 19    9783
Product 20    9797
Product 21    9806
Product 22    9817
Product 23    9821
Product 24    9827
Product 25    9828
Product 26    9828
Product 27    9829
Product 28    9830
Product 29    9831
Product 30    9834
Product 31    9834
Product 32    9834
dtype: int64

In [385]:
# creating a function to remove extra whitespace from data
import re

for i in df.columns:
    if df[i].dtype == 'object':
        df[i] = df[i].astype('str').apply(lambda x: re.sub(r'\s+', ' ', x).strip())
    else:
        pass

In [386]:
df.head(5)

,Basket,Product 1,Product 2,Product 3,Product 4,Product 5,Product 6,Product 7,Product 8,Product 9,...,Product 23,Product 24,Product 25,Product 26,Product 27,Product 28,Product 29,Product 30,Product 31,Product 32
0,1,citrus fruit,semi-finished bread,margarine,ready soups,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1,2,tropical fruit,yogurt,coffee,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2,3,whole milk,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
3,4,pip fruit,yogurt,cream cheese,meat spreads,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
4,5,other vegetables,whole milk,condensed milk,long life bakery product,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan

In [387]:
# convert dataframe from wide format to long format containing Basket and Product Description
df1 = pd.melt(df, id_vars = 'Basket', value_name = 'Product Description')
df1.drop(columns = 'variable', inplace = True)
df1

        Basket Product Description
0            1        citrus fruit
1            2      tropical fruit
2            3          whole milk
3            4           pip fruit
4            5    other vegetables
...        ...                 ...
314715    9831                 nan
314716    9832                 nan
314717    9833                 nan
314718    9834                 nan
314719    9835                 nan

[314720 rows x 2 columns]

In [388]:
# pivot dataframe to convert each product item into columns
grouped_df1 = df1.groupby(['Basket', 'Product Description']).size().unstack().fillna(0).reset_index().set_index('Basket')
grouped_df1

Product Description,Instant food products,UHT-milk,abrasive cleaner,artif. sweetener,baby cosmetics,baby food,bags,baking powder,bathroom cleaner,beef,...,turkey,vinegar,waffles,whipped/sour cream,whisky,white bread,white wine,whole milk,yogurt,zwieback
Basket,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9831,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
9832,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9833,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
9834,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9835,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [417]:
def custom_encoding(x):
    if x <= 0:
        return 0
    if x > 0:
        return 1

basket_input = grouped_df1.applymap(custom_encoding)
basket_input.drop('nan', inplace = True, axis = 1)

C:\Users\saifh\AppData\Local\Temp\ipykernel_35560\1919345494.py:7: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  basket_input = grouped_df1.applymap(custom_encoding)

In [418]:
frequent_itemsets = apriori(basket_input, min_support = 0.05, use_colnames = True)

C:\Users\saifh\AppData\Local\Programs\Python\Python312\Lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:109: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

In [419]:
rules=association_rules(frequent_itemsets, metric = 'lift')

In [420]:
rules.sort_values(by = 'lift', ascending = False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
4,(yogurt),(whole milk),0.139502,0.255516,0.056024,0.401603,1.571735,0.020379,1.244132,0.422732
5,(whole milk),(yogurt),0.255516,0.139502,0.056024,0.219260,1.571735,0.020379,1.102157,0.488608
0,(other vegetables),(whole milk),0.193493,0.255516,0.074835,0.386758,1.513634,0.025394,1.214013,0.420750
1,(whole milk),(other vegetables),0.255516,0.193493,0.074835,0.292877,1.513634,0.025394,1.140548,0.455803
2,(rolls/buns),(whole milk),0.183935,0.255516,0.056634,0.307905,1.205032,0.009636,1.075696,0.208496
3,(whole milk),(rolls/buns),0.255516,0.183935,0.056634,0.221647,1.205032,0.009636,1.048452,0.228543